@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}
body{
    background: #F2D2BD;
    text-align: center;
}
h1{
    background: #DC143C;
    font-size: 2rem;
    padding: 22px 0 18px 0;
    color: white;
}

.container {
    padding: 50px 0;
}

.container h2 {
    color: #DE3163;
    padding-bottom: 50px;
    font-size: 2rem;
}

.container .line-one{
    padding-bottom: 30px;
}
button{
    position: absolute;
    width: 180px;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
    background: #DC143C;
    transition: 0.2s ease;
}
button:hover{
    background-color: #C21E56;
}
.yes {
    top: 83%;
    left: 39%;
}

.no {
    top: 83%;
    left: 51%;
}

.cute-cat {
    border-radius: 18%;
    height: 550px;
}

.love-sky {
    display: block;
    margin: 0 auto; /* Center it if needed */
    height: 600px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #E30B5C;
    font-size: 17px;
    padding: 30px 0;
}

@media (max-width: 1400px){
    .yes { 
        left: 35%;
    }
    .no {
        left: 53%;
    }
}
@media (max-width: 1024px) {
    .yes { 
        left: 30%;
    }
    .no {
        left: 55%;
    }
}

@media (max-width: 768px) { /* Tablets */
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    button {
        width: 160px; /* Reduce button size */
        font-size: 1.1rem;
    }

    .yes {
        left: 25%;
    }
    
    .no {
        left: 53%;
    }
    .cute-cat {
        height: 500px;
    }
}

@media (max-width: 480px) { /* Mobile Phones */
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    button {
        width: 140px; /* Even smaller buttons */
        font-size: 1rem;
    }

    .yes {
        left: 20%;
    }
    
    .no {
        left: 48%;
    }
    .cute-cat {
        height: 400px;
    }
}

@media (max-width: 360px) { /* Very Small Screens */
    .yes {
        left: 10%;
    }

    .no {
        left: 40%;
    }
    .cute-cat {
        height: 380px;
    }
}