@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}
body{
    background: #F2D2BD;
    text-align: center;
}
h1{
    background: #DC143C;
    font-size: 2rem;
    padding: 22px 0 18px 0;
    color: white;
}

.container {
    padding: 50px 0;
}

.container h2 {
    color: #DE3163;
    padding-bottom: 50px;
    font-size: 2rem;
}


.container .line-one{
    padding-bottom: 30px;
}
button{
    width: 180px;
    padding: 10px 0;
    margin-top: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
    background: #DC143C;
    transition: 0.3s ease;
}
button:hover{
    background-color: #C21E56;
}

.cute-cat {
    display: block;
    border-radius: 18%;
    margin: 0 auto;
    height: 40%;
    width: auto;
    
}

.love-sky {
    display: block;
    margin: 0 auto; /* Center it if needed */
    height: 42%;
    width: auto;
}

footer {
    width: 100%;
    color: #E30B5C;
    font-size: 17px;
    margin: 40px 0 0 0;
}

@media (max-width: 950px) {
    /* Styles for all iPhones */
    h1 {
        font-size: 1.4rem;
    }
    .container h2 {
        font-size: 1.4rem;
        margin: 0 15px;
    }
    .cute-cat{
        width: 62%;
        height: auto;
    }
    .love-sky{
        width: 73%;
        height: auto;
    }
}
